@model SistemaAdm.ViewModel.CadastroModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/cadUser.css" asp-append-version="true" />
</head>
<body>
    <div class="conteiner">
        <h2 class="text-center mb-4">Cadastro</h2>
        @using (Html.BeginForm("SalvarUser", "Cadastro", FormMethod.Post))
        {
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 mb-2">
                    <div class="form-group">
                        <label class="fw-bold mb-1 d-block">
                            Nome/Nome Fantasia:<span class="text-danger">&nbsp;*</span>
                        </label>
                        @Html.EditorFor(n => n.Nome, new { htmlAttributes = new { @class = "input-camp", placeholder = "Digite seu nome" } })
                    </div>
                    @Html.ValidationMessageFor(n => n.Nome, "", new { @class = "text-center text-danger" })
                </div>
                <div class="col-12 col-md-6 mb-2">
                    <div class="form-group">
                        <label class="fw-bold mb-1 d-block">
                            CPF/CNPJ:<span class="text-danger">&nbsp;*</span>
                        </label>
                        @Html.EditorFor(n => n.CPFJ, new { htmlAttributes = new { @class = "input-camp", placeholder = "Digite seu CPF/CNPJ", maxlength = "18" } })
                    </div>
                    @Html.ValidationMessageFor(n => n.CPFJ, "", new { @class = "text-center text-danger" })
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 mb-2">
                    <div class="form-group">
                        <label class="fw-bold mb-1 d-block">
                            Email:<span class="text-danger">&nbsp;*</span>
                        </label>
                        @Html.EditorFor(n => n.Email, new { htmlAttributes = new { @class = "input-camp", placeholder = "Exemplo:Email@hotmail.com" } })
                    </div>
                    @Html.ValidationMessageFor(n => n.Email, "", new { @class = "text-center text-danger" })
                </div>
                <div class="col-12 col-md-6 mb-2">
                    <div class="form-group">
                        <label class="fw-bold mb-1 d-block">
                            Senha:<span class="text-danger">&nbsp;*</span>
                        </label>
                        @Html.PasswordFor(n => n.Senha, new { @class = "input-camp", placeholder =  "Digite sua senha" })
                    </div>
                    @Html.ValidationMessageFor(n => n.Senha, "", new { @class = "text-center text-danger" })
                </div>
            </div>
            @if (ViewBag.Error != null)
            {
                <div class="text-center text-danger" style="background-color: transparent; border: none">
                    @ViewBag.Error
                </div>
            }
            <div class="row mt-2 justify-content-center">
                <div class="col text-center">
                    <a asp-controller="Login" asp-action="Index" class="btn btn-secondary">
                        Voltar
                    </a>
                    <button type="submit" class="btn btn-success ms-2">
                        Cadastrar
                    </button>
                </div>
            </div>
        }
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $('#CPFJ').on('input', function () {
        let val = $(this).val().replace(/\D/g, '');
        if (val.length <= 11) {
            val = val
                .replace(/(\d{3})(\d)/, '$1.$2')
                .replace(/(\d{3})(\d)/, '$1.$2')
                .replace(/(\d{3})(\d{1,2})$/, '$1-$2');
        } else {
            val = val
                .replace(/(\d{2})(\d)/, '$1.$2')
                .replace(/(\d{3})(\d)/, '$1.$2')
                .replace(/(\d{3})(\d)/, '$1/$2')
                .replace(/(\d{4})(\d{1,2})$/, '$1-$2');
        }
        $(this).val(val);
    });
        </script>
</body>
</html>
